@media (max-width: 400px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color:#250902;
        color: white;
    }
    .buy_sell_container{
        width: 90%;
        height: 30%;
        background-color: black ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buy_sell_div{
        color:rgb(168, 43, 43);
    }
    // darkest to brightest
    // #250902 #38040e #640d14 #800e13 #ad2831
    
    // ===== hello user + profile pic =======
    .hello_profile_pic_container{
        width: 100vw;
        display:flex;
        height: 10vh;
    }
    .profile_pic{
        img{
            max-height: 100%;
        }
    }
    
    // ===== text block =======
    .text_block_div{
    
    
        p{
    
        }
    }
    // ===== currencies =======
    
    // ===== spending analysis =======
    
    // ===== navigation panel =======
    
}